@import "tailwindcss";
@import "@nuxt/ui";
body {
    min-height: 100vh;
};

textarea {
  field-sizing: content;
};

html {
  background: none !important;
  background-color: transparent !important;
}